@{
    ViewData["Title"] = "Home Page";

}

@*@<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@*@model IEnumerable<EventManagement.Models.Event>*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser>  SignInManager

<h3>Check out all these Events</h3>
<br />

<div class="card-deck">
    @{var x = ViewBag.Event as IEnumerable<EventManagement.Models.Event>;
    }

    @foreach (EventManagement.Models.Event _event in x)
    {
        <div class="card m-3">
            <img class="card-img-top" src="~/image/event.jpg" />
            <div class="card-header">
                <h3>@_event.Title</h3>
                <h4>From @_event.StartDate</h4>
                <h4>Until @_event.EndDate</h4>
                <h4>Event will last for @_event.Duration hours</h4>
                <h4>We are going to : @_event.Description</h4><br />
                <h4>Location: @_event.Location</h4>
                <h4>Type: @_event.EventType</h4>
                <h4>Hosted by @_event.Author</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" asp-route-id="@_event.EventId" class="btn btn-primary">View</a>
                <a asp-controller="Comment" asp-action="Add" asp-route-id="" class="btn btn-primary btn-outline-success">Comment</a>
            </div>
        </div>
    }
</div>
